

.hello-tag {
    background-color: red;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: #000000 solid 1px;
    color: #ffffff;
    font: Arial;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
}

.hello-tag .inner {
    background-color: white;
    width: 298px;
    height: 100px;
    color: black;
    font-size: 60px;
    padding: 10px;
}