<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script type="text/javascript" src="js/external/angular.js"></script>
    <script type="text/javascript" src="js/shm.js"></script>
    <script type="text/javascript" src="js/module.js"></script>
</head>
<body ng-app="myModule">
<!--as sa sasas-->
<!--<input type="text" ng-model="value"/>-->
<!--<input type="text" ng-model="nameValue"/>-->
<!--<shm-hello-tag>-->
    <!--<table class="table">-->
        <!--<tr><td><div style="color: green;">Michal</div></td></tr></table>-->
<!--</shm-hello-tag>-->

<shm-editable-label content="12"></shm-editable-label>
</body>
</html>